{% extends "dashboard/header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <div class="page-wrapper">
        <div class="content container-fluid">
           

    

        <div class="page-header">
        <div class="row">
       
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
           
        <h5 class="text-uppercase mb-0 mt-0 page-title">Task Approval Page</h5>
        
        </div>
      
        </div>
        </div>
 
        {% include 'dashboard/mymessage.html' %}
        <div class="content-page">

            
{% if  task_collections  %}




            <div class="row">
            <div class="col-md-12 mb-3">
            <div class="table-responsive">
            <table class="table custom-table datatable">
            <thead class="thead-light">
          
                
            <tr>
            <th> student  </th>
            <th>task </th>
            <th>status</th>
            <th> links </th>
            <th class="text-right">Action</th>
           
            </tr>
            </thead>
            {% for payment_materials in task_collections  %}
            
      
            <tbody>
            <tr>
            <td>
            <h2><a href="" class="avatar text-white"> <img src="{{payment_materials.uplaod.url}}" alt=""></a><a href="exam-detail.html">{{payment_materials.student }}</a></h2>
            </td>
            <td>{{payment_materials.task }}</td>
            <td>{{payment_materials.status}}</td> 
            <td><i><a href="{{payment_materials.links}}" class="typcn typcn-eye btn btn-danger btn" style="font-size: 12;">view </a> </i></td>
            <td class="text-right">
            <a href="{% url 'task_appro' payment_materials.pk %}" class="btn btn-primary btn-sm">
            <i class="far fa-edit">Approved</i>
            </a>
            
            </td>
            </tr>


           
            </tbody>

            {% endfor %}
            </table>
            </div>
            </div>
            </div>

            {% else %}

                
        <h5 class="text-uppercase mb-0 mt-0 page-title text-danger">No current Submitted Task at the moment</h5>

            {% endif %}



            </div>
         
        </div>
       





        </div>
        
    
    {% endblock content %}
</body>
</html>