

.container-form{
    padding-top: 100px;
}


.h1{
    font-weight: bolder;
    font-size: 30px;
    color: rgb(255, 217, 0);
}

.mycol{
    font-size: 20px;
    text-align: center;
    padding: 0px 40px
}


.mycol ul li{
    list-style-type: none;
}

.mycol p{
    text-transform:capitalize;
    text-align: center;
    font-size: 18px;
}





.card-body h1{
    font-size: 25px;
    color: yellow;
}

.card-body{
    color: rgb(0, 0, 0);
}

.inerst h4{
    font-size: 26px;
}


.container-fluid{
    background-image: url(../image/pexels-danny-meneses-340146-943096.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



label{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}



.inerst strong small{
    font-size: 20px;
    padding: -20px;
}

ul li{
    display: inline-block;
    padding-left: 10px;
    font-size: 15px;
}


.form-col{
    /* background-color: #712cf9; */
    color: rgb(0, 0, 0);
    
}

/* 
@media screen and (max-width: 480px)
and (max-width: 767px)
and (max-width:1024px) {

    .form-col{

        background-color: red;
    }
    
} */


.card  {
    background-color: #702cf932;
}



@media (max-width: 480px){
   
}


@media (max-width: 900px){
    .container-fluid{
        height: 220vh ; 
    }
}





