﻿{% extends "dashboard/header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    {% block content %}

    <div class="page-wrapper">
        <div class="content container-fluid">
    {% if  pending_approval %}
      

        <div class="page-header">
        <div class="row">
       
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            {% if payment_materials %}
              
           
            <p> <a href=" {% url 'pending_payment' %}" class=" btn btn-warning text-white">Approved Payment </a> </p>
            
            {% endif %}
        <h5 class="text-uppercase mb-0 mt-0 page-title">Pending Materials payment</h5>
        
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            {% if payment_materials %}
              
           
            
            <p> <a href=" {% url 'payment_rejected' %}" class=" btn btn-warning text-white">Rejected Payment </a> </p>
            {% endif %}
        
        
        </div>
      
        </div>
        </div>
 
        {% include 'dashboard/mymessage.html' %}
        <div class="content-page">

            


            <div class="row">
            <div class="col-md-12 mb-3">
            <div class="table-responsive">
            <table class="table custom-table datatable">
            <thead class="thead-light">
             
            <tr>
            <th>Payment Name </th>
            <th>Payment Type</th>
            <th>Course</th>
          
            <th>Date</th>
            <th>POP</th>
            <th class="text-right">Action</th>
           
            </tr>
            </thead>
            {% for payment_materials in pending_approval  %}
            
      
            <tbody>
            <tr>
            <td>
            <h2><a href="" class="avatar text-white"> <img src="{{payment_materials.uplaod.url}}" alt=""></a><a href="exam-detail.html">{{payment_materials.user.username}}</a></h2>
            </td>
            <td>{{payment_materials.payment_type}}</td>
            <td>{{payment_materials.courses}}</td> 
       
             <td>{{payment_materials.amount}}</td>
            <!--<td>{{payment_materials.date|date:'D-M-Y' }}</td>-->
            <td><i><a href="{% url 'view_payment' payment_materials.pk %}"class="typcn typcn-eye btn btn-danger btn" style="font-size: 12;">view </a> </i></td>
            <td class="text-right">
            <a href="{% url 'myapproved' payment_materials.pk %}" class="btn btn-primary btn-sm">
            <i class="far fa-edit">mark</i>
            </a>
            <a href="{% url 'payment_reject' payment_materials.pk %}" class="btn btn-danger btn-sm">
                <i class="far fa-edit">reject</i>
                </a>
           
            </td>
            </tr>


           
            </tbody>

            {% endfor %}
            </table>
            </div>
            </div>
            </div>
            </div>
          {% else %}


            <div class="page-header">
                <div class="row">
               
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    
                <h5 class="text-uppercase mb-0 mt-0 page-title text-danger">No Pending payment </h5>
                
                </div>
              
                </div>
                </div>

                {% endif %}
        </div>
       





        </div>
        
    
    {% endblock content %}
</body>
</html>