{% extends "dashboard/header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <div class="page-wrapper">
        <div class="content container-fluid">
          
       
          

          <h3 class="blog-title"><a href="#">Project Submission portal</a></h3>
          <h4 style="color: red;">instructions</h4>
        <p> Ensure  to deploy your source code to github</p>
        <p>Share the project repository on the space provided below</p>
        <p>Choose the project title and submit of your project</p>
         

          <div class="row ">
            <div class="col-lg-10">
            <div class="card">
            <div class="card-header">
             {% include 'dashboard/mymessage.html' %}
            </div>
            <div class="card-body">
            <form action="#" method="post">
              {% csrf_token %}
            <div class="form-group">
            <label>{{filternow}}</label>
           
              
          
            <select name="project" id="" class="form-control">
                {% for myassigment in myassigment  %}
              <option value="{{myassigment.project_name}}" required>{{myassigment.project_name}}</option>
              
              {% endfor %}
            </select>
          
            </div>
  
            
            <div class="form-group">
            <label>Git hub Repo</label>
            <input type="url" name="url" class="form-control" placeholder="enter Git hub Repo" required/>
            </div>
          
            <div class="form-group">
            <label>Passcode</label>
            <input type="text" class="form-control" name="passcode" value="{{passcode}}" readonly="readonly">
            </div>

            <div class="form-group">
                <label>Cohorts</label>
                <input type="text" class="form-control" value="{{cohorts.name}}" readonly="readonly">
                </div>
         
  
            <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit Assigment</button>
            </div>
            </form>
  
  
  
            </div>
            </div>
            </div>
            </div>
  
       




        </div>
        </div>
        
    
    {% endblock content %}
</body>
</html>