{% extends "dashboard/header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <div class="page-wrapper">
        <div class="content container-fluid">
           
            <div class="blog-image">
                <a href="#"><img alt="" src="{{ view_payment.uplaod.url }}" class="img-fluid"></a>
                </div>
                
        
        </div>


        </div>
       





        </div>
        
    
    {% endblock content %}
</body>
</html>